{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                Column 1
            </div>
            <div class="col-sm">
                Ola {{ usuario.funcionario.name }}
            </div>
            <div class="col-sm">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>

                {% if usuario.funcionario.empresa %}  
                    <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
                {% else %}
                    <a href="{% url 'create_empresa' %}">Criar Empresa</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

